@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: #fff;

  }
}

body {
  font-weight: 500;
  margin: 1.25rem;
  display: flex;
  gap: 1.25rem;
  transition: all;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

@media (min-width: 1536px) {
  body {
      margin-left: 14rem/* 224px */;
      margin-right: 14rem/* 224px */;
  }
}




@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* flex gap-5 transition-all 2xl:mx-56 */